/* @keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
} */

html, body {
    background: black;

    /* body takes entire viewport */
    height: 100%;
    margin: 0;

    /* centering the calculator on the page */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
} */

.calculator-body {
    position: relative;
    background-color: rgba(0, 0, 0, 0.158);
    /* border: solid #615f5f67; */
    /* border-radius: 6px; */
    padding: 10px;
    /* controlling the vertical stack */
    display: flex;
    z-index: 1;
}

/* an attempt at fully centering the text in the buttons */
/* it made no difference bruh, im gonna comment that out for now lol
im not sure how to take into account the text size itself*/

/* button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
} */

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    border-radius: 6px;
}

.button-grid button:hover {
    background-color: #48484800;
}

.button-grid button:active {
    /* mimicks button being pressed */
    background-color: #aaa2a2;
    transform: scale(0.9);
}

.button-grid button {
    padding: 10px;
    background-color: rgba(59, 57, 57, 0.775);
    color: rgba(255, 255, 255, 0.916);
    cursor: pointer;

    /* rounding out the invisible button edges */
    border: none;
    border-radius: 5px;

    /* all background and click transitions */
    transition: background 0.4s ease-out, transform .05s ease-out;

    /* button font properties */
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

#button-zero {
    grid-column: span 2;
    /* background-color: rgba(0, 0, 0, 0.296); */
    /* border: 1px solid black; */
}

canvas#plexus {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.calculator-grid-display {
    display: flex;
    line-height: 10px;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 10px 0px 16px;
    




    background-color: rgba(59, 57, 57, 0.533);
    grid-column: span 4;
    height: 60px;
    border-radius: 5px;
    color: #fff;
    
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.display-number {
    display: inline-block;
    opacity: 0;
    transform: translateX(20px);
    animation: slideFaceIn 0.3s ease-out forwards;
}

@keyframes slideFaceIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}