/* @keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
} */

html, body {
    background-color: rgb(40, 30, 30);

    /* body takes entire viewport */
    height: 100%;
    margin: 0;

    /* centering the calculator on the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    background-color: rgba(0, 0, 0, 0.547);
    border-radius: 12px;
    padding: 20px;

    /* controlling the vertical stack */
    display: flex;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button-grid button:hover {
    background-color: #48484825;
}

.button-grid button:active {
    /* mimicks button being pressed */
    background-color: #aaa2a2;
    transform: scale(0.8);
}

.button-grid button {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(245, 242, 237, 0.916);
    cursor: pointer;

    /* rounding out the invisible button edges */
    border: none;
    border-radius: 6px;

    /* all background and click transitions */
    transition: background 0.2s ease-out, transform .1s ease-out;

    /* button font properties */
    font-size: 42px;
}




