/* @keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
} */

html, body {
    background: black;

    /* body takes entire viewport */
    height: 100%;
    margin: 0;

    /* centering the calculator on the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
} */

.calculator-body {
    position: relative;
    background-color: rgba(0, 0, 0, 0.158);
    /* border: solid #615f5f67; */
    /* border-radius: 6px; */
    padding: 10px;
    /* controlling the vertical stack */
    display: flex;
    z-index: 1;
}

/* an attempt at fully centering the text in the buttons */
/* it made no difference bruh, im gonna comment that out for now lol
im not sure how to take into account the text size itself*/

/* button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
} */

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 2px; */
    border-radius: 6px;
}

.button-grid button:hover {
    background-color: #48484825;
}

.button-grid button:active {
    /* mimicks button being pressed */
    background-color: #aaa2a2;
    transform: scale(0.9);
}

.button-grid button {
    padding: 10px;
    background-color: rgba(59, 57, 57, 0);
    color: rgba(245, 242, 237, 0.916);
    cursor: pointer;

    /* rounding out the invisible button edges */
    border: none;
    border-radius: 6px;

    /* all background and click transitions */
    transition: background 0.4s ease-out, transform .05s ease-out;

    /* button font properties */
    font-size: 32px;
}

#button-zero {
    grid-column: span 2;
    /* background-color: rgba(0, 0, 0, 0.296); */
    /* border: 1px solid black; */
}

canvas#plexus {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 0;
}